@import url('https://fonts.cdnfonts.com/css/antique-olive');
*{
    margin: 0%;
    padding: 0%;
}

body{
    box-sizing: border-box;
    background-color:#0D0D0D ;
}
img{
    max-width: 250px;
    max-height: 200px;
    min-width: 100%;
    width: auto;
    height: auto;
    margin-top: 10px;
    padding: 0 9px;
}

.topo{
    display: flex;
    background-color: #0D0D0D;
    justify-content: center;
    margin: 10px;
}

.titulo{
    font-family: 'Antique Olive', sans-serif;
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 2%;
}



.corpo{
    display: flex;
    background-color: #0D0D0D;
}

.subtitulos{
    text-align: center;
    margin: 5px;
    font-size: 1.4em;
    font-family:  'Antique Olive', sans-serif;;
    color: #e5e4e3;

}

.preCasamento, .diaDaNoiva, .cerimonia, .festa, .luaDeMel{
    flex-grow: 1;
    flex-direction: column;
}
